@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="outer">
    <div class="btn-check">Yoo</div>
    <h1>Here Bro</h1>
</div>